<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title> Index </title>
  <link rel="stylesheet" type="text/css" href="/public/assets/styles.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div id = "main">
  <header id = "main-nav">
    <button id = "btn1" onclick="window.location.href='/profile'">Profile</button>
    <button id = "btn2" onclick="window.location.href='/logout'">Logout</button>
  </header>
</div>

<div id="login-pop">
  <div class="search-nav">
    <form action="" id = "form" method = "POST">
      <input type="text" id = "search-bar" placeholder="Search..">
      <button type="submit" id = "search-button" name = 'action' value = 'search'>Go</button>
    <button id = "create-post" type = 'button' name = 'action' value = 'post' onclick="window.location.href='/new-post'">New Post</button>
  </form>
  </div>

  <div id = "post-container">
  <% posts.forEach((post) => { %>
    <div class="post" data-postid="<%= post.post_id %>">
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
    </div>
<% }); %>
</div>






  </div>
</div>

<script src="/public/eventListener.js"></script>
</body>
</html>