<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title> Index </title>
  <link rel="stylesheet" type="text/css" href="/public/assets/homepage.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

  <div id = "main">
    <header id = "main-nav">
      <img src="/public/assets/images/logo.png" id="logo">
      <div class="search-nav">
        <form action="" id = "searchForm" method = "POST">
          <input type="text" id = "search-bar" placeholder="Search.." name="search_val">
          <button type="submit" id = "search-button" name = 'action' value = 'search'>Go</button>
          <button id = "create-post" type = 'button' name = 'action' value = 'post'  onclick="window.location.href='/new-post'">New Post</button>
        </form>
      </div>
      <div id="button-container">
        <button id = "btn1" onclick="window.location.href='/register'">Sign Up</button>
        <button id = "btn2" onclick="window.location.href='/login'">Log In</button>
      </div>
    </header>
  </div>
  
  <div id="login-pop">
    
  
  <div id="postsContainer"></div>
  
  </div>



  
  
  <script src="public/loadPost.js">
   
  </script>
</body>
</html>