<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title> Index </title>
  <link rel="stylesheet" type="text/css" href="/public/assets/newpost.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div id = "main">
  <header id = "main-nav">
    <button id = "btn1" onclick="window.location.href='/profile'">Profile</button>
    <button id = "btn2" onclick="window.location.href='/user/logout'">Logout</button>
  </header>
</div>

<div id="login-pop">
  <div id="post-area">
    <form action="/posts/new-post" id = "form" method = "POST">
      <input type='text' id = 'post-title' class = 'posty' placeholder="Title..." name='post_title' maxLength="50">
    <br>
      <textarea id = 'post-body' class = 'posty' rows = "1" placeholder="Body..." name='post_body' maxlength="10000"></textarea>
    <br>
      <button type = 'submit' id = "post-push" class = 'posty'>Post</button>
  </form>
  </div>

  <script>
    const textarea = document.getElementById('post-body');

    textarea.addEventListener('input', function () {
        this.style.height = 'auto'; // Reset the height
        this.style.height = (this.scrollHeight) + 'px'; // Set the height
    });

  </script>









  </div>
</div>


</body>
</html>