<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title> Homepage </title>
  <link rel="stylesheet" type="text/css" href="/public/assets/postview.css" title="style" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

  <div id = "main">
    <header id = "main-nav">
      <a onclick="window.location.href='/'" id="logo"><img src="/public/assets/images/logo.png"></a>
      <div id="button-container">
        <button id = "btn1" onclick="window.location.href='/register'">Sign Up</button>
        <button id = "btn2" onclick="window.location.href='/login'">Log in</button>
      </div>
    </header>
  </div>

<div id="login-pop">

    <div id="post-data">
    <h1 id="title"></h1>
    <img id="uploadedImg">
    <video id ="uploadedVideo" controls></video>
    <p id="content"></p>
    <div id ="direct-reply"><p id="timestamp"></p> <img id = "post-reply" src="/public/assets/images/reply.svg"></div>
    </div>

    <div id = "new-comment">
      <form id = "comment-form" method = "POST">
      <textarea id ="newcomment" maxlength="500" name="comment"></textarea>
      <button id="post-comment" type = "submit">Post</button>
      </form>
    </div>

    <div id="comments">
      <div id="commentsContainer"></div>
    </div>

</div>

<script src="/public/loadComment.js"></script>
<script>
  $('#comment-form').attr('action', '/comments/post/' + postId);

  let replyBtnMain = document.getElementById("post-reply");
  let replyForm = document.getElementById("comment-form");
  replyBtnMain.addEventListener("click", function(){
    if (replyForm.style.display === "none" || replyForm.style.display === "") {
        replyForm.style.display = "block";
    } else {
        replyForm.style.display = "none";
    }

    
  })

  document.addEventListener("DOMContentLoaded", () => {
    let mediaUrl;
    fetch(`/post-data/${postId}`)
      .then(response => response.json())
      .then(data => {
        document.getElementById("title").innerHTML = data.title
        document.getElementById("content").innerHTML = data.body
        document.getElementById("timestamp").innerHTML = data.timestamp

        const video = document.getElementById("uploadedVideo")
        const img = document.getElementById("uploadedImg")
        video.style.display = "none"
        img.style.display = "none"

        const baseUrl = 'http://localhost:3000/';

        if(data.mediaUrl != null){
          if(data.mediaUrl.match(/\.(jpg|jpeg|png|gif|svg)$/i)){
          img.getElementById("uploadedImg").setAttribute("src", `${baseUrl}${data.mediaUrl}`)
          img.style.display = "";
        }else if(data.mediaUrl.match(/[^/]+(mp4|mov|avi|wmv|webm|mkv)$/)){
          video.setAttribute("src", `${baseUrl}${data.mediaUrl}`)
          video.style.display = "";
        }
        }
      })
  })

</script>

</body>
</html>