/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-image: url(./images/polygon-scatter-haikei.svg);
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Form Container Styling */
#form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
}

/* Label and Input Field Styling */
label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Submit Button Styling */
button#sub {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button#sub:hover {
    background-color: #0056b3;
}

/* Checkbox and Link Styling */
input[type="checkbox"] {
    margin-top: 15px;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}