/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f2;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header Styling */
#main-nav {
    display: flex;
    justify-content: space-between; /* Align items to the edges */
    align-items: center; /* Vertically center the items */
    background-color: #a16dc1;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

button {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    transition: all .2s ease-in-out;
}

button:hover {
    background-color: #2c2e3d;
    color:white;
    transform: scale(1.1);
}

#logo{
    width: 8%;
    border-radius: 100px;
}

#logo:hover{
    cursor:pointer;
}

#logo > img {
    max-height: 100px;
    border-radius:100px;
}

.poster {
    color:blue;
}

.poster :hover{
    cursor:pointer;
}

#main-nav button:hover {
    background-color: #0056b3;
}

/* Post Data Styling */
#login-pop {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#post-data {
    text-align: left;
    margin-bottom: 20px;
}

#title {
    font-size: 24px;
    color: #007bff;
}

#content, #timestamp {
    margin-top: 10px;
}

#new-comment form {
    margin-top: 20px;
    display: none;
}

#newcomment {
    width: 97.5%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 100px;
    resize: none;
}

/* Comments Display Styling */
#commentsContainer {
    margin-top: 20px;
}

.post-item {
    background-color: #ffffff;
    word-wrap: break-word;
    padding: 10px;
    margin-bottom: 10px;
}

/* Indentation for threaded comments */
.reply-level-0 { margin-left: 10px; }
.reply-level-1 { margin-left: 10px; }
.reply-level-2 { margin-left: 10px; }
.reply-level-3 { margin-left: 10px; }
.reply-level-4 { margin-left: 10px; }
.reply-level-5 { margin-left: 10px; }


.post-item > form {
    display: none;
}

#comment-reply p {
    display: inline; 
}

#comment-reply img {
    float:right;
}

#collapseButton{
    height: 20px;
    width: 20px;
    position: relative; /* Add this if not already present */
    top: 0; /* Adjust this value to align with the start of the guidelines */
    margin-left: 10px;
    
}

.reply-button {
    cursor: pointer;
    display: inline-block; 
    margin-left: 10px;
    vertical-align: top; 
    width: 25px;  
    height: 25px;
}

.replies-container {
    position: relative;
    margin-left: 20px; 
    margin-top: 30px; /* You might need to adjust this */
}

.replies-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0; /* Adjust this value as needed to align with the collapse button */
    bottom: 0;
    width: 1px; 
    background-color: #ccc; 
}

.replies-container {
    position: relative;
    margin-left: 20px; 
    margin-top: 30px; 
}

#post-reply{
    height:30px;
    width:30px;
}

#direct-reply p {
    display: inline;
}

#direct-reply img {
    float:right;
}

#comment-form{
    display:none;
}

.comment-container{
    padding-bottom: 25px;
}

.poster-info > img{
    height:60px;
    width:60px;
    border-radius: 50%;  /* This makes the image circular */
    object-fit: cover;
}

.poster-info > p {
    display:inline;
}

.poster:hover{
    cursor:pointer;
}

.poster-info{
    display:flex;
    gap:30px;
}

#collapseButton:hover{
    cursor:pointer;

}

#post-data{
    overflow-wrap: anywhere;
}

/* Responsive Design */
@media (max-width: 768px) {
    #login-pop, #commentsContainer {
        width: 95%;
        margin: 10px auto;
    }
}